html{
	font-size: 16px;
}

body{
	font-family: 'Gloria Hallelujah', cursive;
	font-size: 2.8rem;
}

.fortune-height{
	height: 100vh;
}

.pink{
	color: #d9a8b1;
}

.purple{
	color: #a775a7;
}

.blue{
	color: #65aded;
}

.green{
	color: #6ca36c;
}

.change{
/*
	color: white;
	transition: all 0.1s;
	background-color: #d9a8b1;
*/
	background-image: url(img/paper.png);
	transition: all 0.5s ease-out;
}
