html{
	font-size: 16px;
}

body{
	font-family: 'Gloria Hallelujah', cursive;
	font-size: 2.8rem;
}

.fortune-height{
	height: 100vh;
	overflow: hidden;
}

.pink{
	color: #d9a8b1;
}

.purple{
	color: #a775a7;
}

.blue{
	color: #65aded;
}

.green{
	color: #6ca36c;
}

.change{
	background-image: url(img/paper.png);
	transition: all 0.5s ease-out;
	background-size: cover;
}

.hide{
	display: none;
}

.show{
	display: block;
}

.fortune-bg{
	background-image: url(img/bokeh.jpg);
	transition: all 0.5s ease-out;
	background-size: cover;
}

.fortune-style{
	font-family: 'Lobster Two', cursive;
	transition: all 0.5s ease-in;
	text-align: center;
}